
<body background="{{asset('fondo.jpg')}}">
    <div align="center">
    <form action="{{path('asignacion_index')}}" method="POST">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <label>USUARIO</label>
        <hr/>
        <input type="text" name="user" placeholder="Ingrese Usuario">
        <hr/>
        <label>PASSWORD</label>
        <hr/>
        <input type="password" name="password" placeholder="Ingrese Password">
        <hr/>
        <input type="submit" value="Aceptar">
    </form>
    </div>    
 </body>       