{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proyecto Editar</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
  
            <a  class="btn btn-secondary" href="{{ path('proyecto_index') }}">Regresar</a>
    
    </ul>
{% endblock %}
